body {
    font-family: "Corbel", "Arial", sans-serif;
    font-size: 14px;
    color: #000000;
    background-image: url(images/sitebackground.jpg);
  }

  section {
    float: left;
    text-align: center;
    margin: 10px;
    font-size: 16px;
    padding: 20px;
  }

  div,p,body,header,footer,section,article,nav {
    margin: 0;
    padding: 0;
  }

  img {
    border: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .rotateimg270 {
    transform: rotate(270deg);
  }

  .rotateimg180 {
    transform: rotate(180deg);
  }

  .rotateimg90 {
    transform: rotate(90deg);
  }

  .selected {
    background-color: #ccc;
  }

  .category {
    margin-top: 35px;
    overflow: hidden;
    padding-bottom: 350px;
    padding-right: 20px;
    padding-left: 75px;
    float: left;
  }

  .bottomtext {
    position: relative;
    top: 280px;
  }

  #topnav {
    padding: 0;
    border: 0;
    height: 80px;
    width: 980px;
    font-size: 18px;
    overflow: hidden;
  }

  #siteContainer {
    margin: 0 auto;
    width: 940px;
    background-image: url(images/background.jpg); 
    background-repeat: repeat-x;
    height: 100%;
  }

  #main_banner {
    background-image: url(images/banner-photo.jpg); 
    vertical-align: bottom;
    font-size: 20px;
    color: #ffffff;
    background-repeat: no-repeat;
    height: 355px;
    width: 940px;
    margin-top: -5px;
  }

  #main_nav ul {
    width: 560px;
    float: right;
    margin-right: 15px;
    list-style-type: none;
    margin-top: 55px;
  }

  #main_nav ul li {
    display: inline;
    margin-left: 25px;
  }

  #main_nav ul li a {
    text-decoration: none;
    color: #000000;
  }

  #main_nav ul li a:hover {
    background-color: #ffffe0;
    color: blue; 
  }

  #logo {
    float: left;
  }

  #wrapper {
    margin: 0px auto;
    width: 960px; 
    height: 100%;
  }

  #main_footer {
    height: 142px;
    width: 940px;
    background: url(images/footer-banner.jpg) no-repeat;
    margin-top: 62px;
    clear: both;
  }

  #footer_nav {
    float: left;
    width: 100px;
    display: block;
    padding-left: 90px;
    clear: both;
    padding-top: 20px;
    position: absolute;
  }

  .facebook {
    float: left;
    width: 48px;
    height: 48px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-right: 6px;
    position: absolute;
    clear: both;
  }

  .youtube
{
  float: left;
  width: 48px;
  height: 48px;
  padding-top: 20px;
  padding-left: 130px;
  padding-bottom: 4px;
  padding-right: 6px;
  position: absolute;
}

.twitter
{
  float: left;
  width: 48px;
  height: 48px;
  padding-top: 20px;
  padding-left: 75px;
  padding-bottom: 4px;
  padding-right: 6px;
  position: absolute;
}

.instagram
{
  float: left;
  width: 48px;
  height: 48px;
  padding-top: 20px;
  padding-left: 195px;
  padding-bottom: 4px;
  padding-right: 6px;
  position: absolute;
}
  
  #copyright {
    float: right;
    color: black;
    padding-top: 105px;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .picture {
    margin-top: 39px;
    overflow: hidden;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 40px;
    float: left;
  }

  .videoArea {
    overflow: hidden;
    margin-top: 260px;
    padding-left: 75px;
    padding-right: 40px;
  }

  #contactpage {
    overflow: hidden;
    width: 420px;
    height: 590px;
    background-color: white;
    opacity: 0;
    margin-left: 20px;
    margin-bottom: 61px;
    padding: 20px 20px 20px 20px;
    float: left;
  }

  #contactfill {
    font-size: 30px;
    color: black;
    display: block;
    margin-bottom: 43px;
  }

  input, textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 198px;
    height: 28px;
    background-color: #bdd4f3;
    color: #000000;
  }

  #comments {
    width: 198px;
    height: 198px;
  }

  #submit {
    width: 75px;
    height: 30px;
    background-color: #bdd4f3;
    padding: 5px 10px 5px 10px;
    color: #000000;
    margin-top: 30px;
    overflow: hidden;
    object-position: center;
  }